<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="static/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald:500,600" rel="stylesheet">
</head>

<body>
  <header>
  <a href="{{url_for('home')}}">
    <img class="logo" src='static/images/rocket.png'><h1>Rocket</h1></img>
    <h2>Gateway To Space</h2>
  </a>
  </header>
  <div class="infoName">
    <h1>{{name}}</h1>
  </div>
  <div class="row">
    <div class="columnPlan">
      <img class="infoPage" src="static/images/asteroids.png"></img>
    </div>
  <div class="columnPlanText">
    <p>Category:</p>
    <div class="infoCat">
      {{category}}
    </div>
    <p>Descrption:</p>
      <div class="infoDes">
        {{description}}
      </div>
    </div>
  </div>
  <footer>
  <p>&copy; Gary Murie | Course Work For Edinburgh Napier University | Information From <a href="https://www.nasa.gov" >NASA</a></p>
  </footer>
</body>
</html>
